* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f7f7f7;
}

/* AIRLINES SECTION */
.airlines h2{
    padding: 15px 15px 30px;
    font-size: 22px;
}

.airlines__box{
    background-color: #ffffff;
    margin: 10px;
}

.airlines__text{
    margin: 15px;
    padding-bottom: 15px;
}

.airlines__text :nth-child(1){
    color: #0164bf;
    font-weight: bold;
}

.airlines__text :nth-child(2){
    color: #ccc;
    font-weight: bold;
    font-size: 12px;
}

.airlines__text :nth-child(3){
    color: #ffa600;
    font-weight: bold;
    font-size: 18px;
}

.airlines__text :nth-child(4){
    color: #7c7c7c;
    font-size: 13px;
}

.airlines__text span{
    font-weight: bolder;
    color: #7c7c7c!important;
    font-size: 13px;
}

.airlines__ratings{
    margin-top: 70px;
}

.airlines__bottom{
    background-color: #EBEBEB;
}

.airlines__bottom p{
    color: #555555;
    font-size: 11.5px;
    padding: 15px 20px;
    margin-bottom: 45px;
    line-height: 1.5;
}

/* OFFER SECTION */
.offers{
    background-color: #0164BF;
    color: #ffffff;
}

.offers p{
    padding: 0 39px 20px 0;
    font-weight: 600;
    font-size: 15px;
}

.offers__form{
    padding: 15px 40px 15px;
}

.offers__form input{
    width: 100%;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 10px;
    padding: 0 0 0 10px;
}

::placeholder{
    font-weight: 600;
}

.offers__form button{
    background-color: #ffa600;
    color: #ffffff;
    height: 35px;
    padding: 0 19px;
    font-size: 19px;
    font-weight: 600;
    width: 100%;
    border-radius: 3px;
}

.offers__policy{
    text-align: center;
}

.offers a{
    font-size: 10px;
    text-decoration: none;
    color: #ffffff;
}

/* FOOTER */
.footer{
    font-size: 10px;
    text-align: center;
    background: #f7f7f7;
}

hr{
    background-color: #e1e1e1;
    height: 1.5px;
    margin: 10px 5%;
    width: 90%;
}

.footer__appmobile{
    display: flex;
    padding: 25px 20px 0 20px;
    align-items: center;
}

.footer__logo{
    padding: 15px 20px;
}

.footer__logo ul{
    display: flex;
    justify-content: space-around;
}

.footer__address{
    color: #7d7d7d;
    font-weight: 600;
    line-height: 24px;
    padding: 50px 30px;
}