* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    text-decoration: none;
}

body{
    background-color: #f7f7f7;
}
header{
    display: flex;
    justify-content: center;
}
.nav{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    font-weight: bold;
}
.nav li{
    font-size: 14px;
    padding: 0 15px;
}
.entire-menu{
    display: none;
}
.menu__list{
    display: flex;
}
.menu__list a:hover,
.menu__contact li:hover,
.menu__contact span:hover{
    color: #0082FF;
}
.menu__contact{
    display: flex;
    align-items: center;
}
.menu__contact :nth-child(1){
    text-align: right;
    padding-right: 20px;
}
.menu__contact :nth-child(3){
    padding-left: 4px;
}
.menu__contact span{
    border-left: 1px solid #DDD;
    font-size: 25px;
    padding-left: 20px;
}

/* BANNER LATAM */
.banner{
    background-color: #f7f7f7;
    justify-content: center;
    display: flex;
    padding: 5px 0;
}

/* CARDS */
.container{
    padding: 10px 70px;
}
.biggest-economy{
    background-color:#f7f7f7;
}
.biggest-economy h2,
.favorite-destinations h2{
    color: #333;
    margin-top: 15px;
}
.biggest-economy h3,
.favorite-destinations h3{
    font-size: 24px;
    color: #333;
    margin-top: 25px;
}
.biggest-economy h2,
.favorite-destinations h2{
    padding-bottom: 15px;
}
.biggest-economy h4{
    font-size: 15px;
}
.biggest-economy p{
    font-size: 12px;
    padding: 5px 0;
}
.biggest-economy span{
    color: #ccc;
    font-size: 14px;
    margin-bottom: 30px;
    padding: 0 2px;
}
.biggest-economy__text,
.favorite-destinations__text{
    color: #7d7d7d;
    background-color: #ffffff;
    margin-top: -5px;
}
.biggest-economy__text :nth-child(1){
    padding-top: 11px;
    font-weight: bold;
}
.biggest-economy__text :nth-child(2){
    color: #010000;
}
.biggest-economy__text :nth-child(3){
    font-weight: bold;
}
.biggest-economy__text :nth-child(3) span{
    color: #ccc;
    font-size: 12px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 2px;
}
.biggest-economy__text :nth-child(4){
    text-transform: uppercase;
}
.biggest-economy__text :nth-child(4) span{
    color: #ffa600;
    font-size: 16px;
    font-weight: bold;
}
.biggest-economy__text :nth-child(5){
    padding-bottom: 10px;
}
.biggest-economy__text :nth-child(6){
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    background-color: #0082FF;
    border-radius: 5px;
    padding: 8px;
    font-weight: bolder;
}
.biggest-economy__offers{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.biggest-economy__offers div{
    padding: 0 2px;
}
.biggest-economy__offers-box:hover{
    box-shadow: 6px 6px 10px #999; 
}
.favorite-destinations{
    background-color:#ebebeb;
}
.favorite-destinations__offers{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    font-size: 14.5px;
    line-height: 1.5;
}
.favorite-destinations__offers div{
    padding: 6px 2px 4px 2px;
}
.favorite-destinations__text{
    display: flex;
    justify-content: space-between;
}
.favorite-destinations__text :nth-child(1){
    color: #0164bf;
    font-weight: bold;
}
.favorite-destinations__text :nth-child(2) span{
    text-transform: uppercase;
    color: #afafaf;
    font-weight: bold;
}
.favorite-destinations__text :nth-child(2){
    color: #afafaf;
    font-size: 12px;
    font-weight: bold;
}
.favorite-destinations__text :nth-child(3){
    color: #ffa600;
    font-weight: bold;
    font-size: 18px;
}
.favorite-destinations__text-finalprice{
    padding-top: 28px;
    color: #7d7d7d!important;
    text-align: right;
    font-weight: 100!important;
    margin-left: 6px;
}
.favorite-destinations__text-finalprice span{
    text-transform: none!important;
    font-weight: bolder;
    color: #7d7d7d!important;
    text-align: right;
}
.international-slider{
    display: none;
}
/* AIRLINES */
.airlines-preferred{
    background-color: #f7f7f7;
}
.airlines-preferred__options{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    font-size: 14.5px;
    line-height: 1.5;
}
.airlines-preferred__options div{
    padding: 6px 1px 4px 1px;
}
.airlines-preferred h2{
    color: #333;
    margin-top: 0 35px;
}
.airlines-preferred__text{
    background-color: #ffffff;
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
}
.airlines-preferred__text :nth-child(1){
    color: #0164bf;
    font-weight: bold;
}
.airlines-preferred__text :nth-child(2) span{
    text-transform: uppercase;
    color: #afafaf;
    font-weight: bold;
}
.airlines-preferred__text :nth-child(2){
    color: #afafaf;
    font-size: 12px;
    font-weight: bold;
}
.airlines-preferred__text :nth-child(3){
    color: #ffa600;
    font-weight: bold;
    font-size: 18px;
}
.airlines-preferred__text-finalprice{
    padding-top: 28px;
    color: #7d7d7d!important;
    text-align: right;
    font-weight: 100!important;
    margin-left: 6px;
}
.airlines-preferred__text-finalprice span{
    text-transform: none!important;
    font-weight: bolder;
    color: #7d7d7d!important;
    text-align: right;
}
.ratings ul{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.social-medias{
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    background-color:#ebebeb;
}
.social-medias ul{
    display: flex;
    align-items: center;
}
.social-medias li{
    font-size: 14px;
    padding: 25px 50px;
}

/* OFFER SECTION */
.offers{
    background-color: #0164BF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offers p{
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    width: 200px;    
}
.offers__form{
    padding: 15px 40px 15px;
    display: flex;
    align-items: center;
}
.offers__form-header{
    display: flex;
    align-items: center;
}
.offers__form input{
    width: 420px;
    border-radius: 3px;
    height: 35px;
    padding: 0 0 0 10px;
    margin: 0 10px;
}
::placeholder{
    font-weight: 600;
}
.offers__form button{
    background-color: #ffa600;
    color: #ffffff;
    height: 35px;
    font-size: 19px;
    font-weight: 600;
    width: 20%;
    border-radius: 3px;
}
.offers__policy{
    text-align: center;
}
.offers a{
    font-size: 10px;
    text-decoration: none;
    color: #ffffff;
}

/* SITEMAP */
.sitemap h2{
    padding: 30px 0;
    font-size: 20px;
}
.sitemap__lists{
    display: flex;
    justify-content: space-between;
}
.sitemap__lists h5{
    padding-bottom: 5px;
}
.sitemap__lists ul{
    line-height: 1.7;
}
.sitemap__lists li{
    font-size: 12px;
}

/* FOOTER */
hr{
    background-color: #e1e1e1;
    height: 1.5px;
    margin: 10px;
    width: 100%;
}
.footer__logos{
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
}
.footer__logos-companies{
    padding-left: 10px;
}
.footer__logos ul{
    display: flex;
    align-items: center;
}
.footer__logos li{
    padding: 0 20px;
}
.footer__appmobile{
    display: flex;
    align-items: center;
}
.footer__appmobile-afiliados{
    padding: 0 10px;
    margin-left: 490px;
}
.footer__address{
    color: #7d7d7d;
    font-weight: 600;
    line-height: 24px;
    padding: 30px 0 70px 0;
}
.footer__address p{
    text-align: center;
    padding: 0 120px;
    font-size: 13px;
}

@media (max-width: 426px){
    .menu__list,
    .menu__contact{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        padding: 5px 0;
    }
    .entire-menu {
        display: block;
        position: absolute;
        width: 100%;
    }
    .hamburguer {
        width: 16px;
        height: 20px;
        display: block;
        position: relative;
        background: none;
        margin: 20px 0 10px 20px;
    }
    /* mexe no incone do menu */
    .hamburguer:after, .hamburguer:before, .hamburguer span, .hamburguer label {
        content: ' ';
        display: block;
        width: 100%;
        height: 2px;
        background: #0164bf;
        left: 0;
        position: absolute;
        transition: all 300ms ease-in-out;
    }
    .hamburguer:before {
        top: 0;
    }
    /* mexe no incone do menu */
    .hamburguer:after {
        bottom: 8px;
        background: #0164BF;
    }
    .hamburguer:focus {
        outline: none;
    }
    .hamburguer label {
        width: 60px;
        height: 60px;
        background: none;
        cursor: pointer;
        z-index: 1000;
        top: -6px;
    }
    .hamburguer span {
        top: 5px;
    }
    #change-hamburguer {
        display: none;
    }
    #change-hamburguer:checked ~ .hamburguer:before, #change-hamburguer:checked ~ .hamburguer:after {
        top: 10px;
        margin-top: -10%;
    }
    #change-hamburguer:checked ~ .hamburguer:before {
        transform: rotate(-45deg);
    }
    #change-hamburguer:checked ~ .hamburguer:after {
        transform: rotate(45deg);
    }
    #change-hamburguer:checked ~ .hamburguer span {
        opacity: 0;
    }
    #change-hamburguer:checked ~ .menu {
        max-height: 750px;
    }
    .menu {
        max-height: 0;
        height: auto;
        background: #02427b;
        transition: all 300ms ease-in-out;
        overflow: hidden;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 13px;
        width: 65%;
    }
    .menu a {
        text-decoration: none;
        color: #fff;
        padding: 15px 20px;
        display: block;
    }
    .menu a:hover {
        border-left: 5px solid #e57373;
        color: #e57373;
        background: #222;
    }
    .menu :nth-child(10){
        background-color: #0164bf;
        padding: 20px 20px;
    }
    .menu__bottom{
        color: #ffffff;
        font-size: 10px;
        padding: 25px 20px;
        line-height: 1.5;
    }
    .menu__bottom :nth-child(1){
        text-transform: uppercase;
    }
    .menu__bottom :nth-child(even){
        font-size: 20px;
    }
    .banner,
    .biggest-economy,
    .favorite-destinations{
        display: none;
    }
    .international-slider{
        display: block;
    }
    .international-slider{
        padding-bottom: 45px;
    }
    .international-slider h2{
        padding: 15px 15px 30px;
        font-size: 22px;
    }
    .international-slider__container{
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
    }
    .slide{
        display: none;
    }
    .box{
        background-color: #ffffff;
        margin: 10px;
    }
    .slide img{
        width:100%;
    }
    .slider-dot{
        text-align:center;
    }
    .dot {
        height: 7px;
        width: 7px;
        margin: 0 5px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        display: inline-block;
    }
    .active, 
    .dot:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .favorite-destinations__text{
        flex-direction: column;
        padding: 10px;
        line-height: 1.5;
    }
    .favorite-destinations__text-finalprice{
        padding-top: 0;
        text-align: left;
        margin-left: 0;
    }
    .airlines-preferred .container{
        padding: 1px 5px;
    }
    .airlines-preferred h2{
        padding: 15px 15px 30px;
        font-size: 22px;
    }
    .airlines-preferred__options{
        display: block;
    }
    .airlines-preferred__options div {
        padding: 0px 1px 4px 1px;
    }
    .airlines-preferred__options-box{
        background-color: #ffffff;
        margin: 10px;
    }
    .airlines-preferred__options-box img{
        object-fit: fill;
        width: 100%;
    }
    .airlines-preferred__text{
        margin: 15px;
        padding-bottom: 15px;
    }
    .airlines-preferred__text :nth-child(1){
        color: #0164bf;
        font-weight: bold;
    }
    .airlines-preferred__text :nth-child(2){
        color: #ccc;
        font-weight: bold;
        font-size: 12px;
    }
    .airlines-preferred__text :nth-child(3){
        color: #ffa600;
        font-weight: bold;
        font-size: 18px;
    }
    .airlines-preferred__text :nth-child(4){
        color: #7c7c7c;
        font-size: 13px;
    }
    .airlines-preferred__text span{
        font-weight: bolder;
        color: #7c7c7c!important;
        font-size: 13px;
    }
    .ratings :nth-child(2){
        display: none;
    }
    .social-medias{
        display: none;
    }
    .offers{
        background-color: #0164BF;
        color: #ffffff;
        display: flex;
        flex-direction: column;
    }
    .offers p{
        padding: 20px 39px 20px 0;
        font-weight: 600;
        font-size: 15px;
        width: 250px;
    }
    .offers__form{
        padding: 0px 40px 15px;
        flex-direction: column;
    }
    .offers__form input{
        width: 100%;
        border-radius: 3px;
        height: 35px;
        margin-bottom: 10px;
        padding: 0 0 0 10px;
    }
    ::placeholder{
        font-weight: 600;
    }
    .offers__form button{
        background-color: #ffa600;
        color: #ffffff;
        height: 35px;
        padding: 0 19px;
        font-size: 19px;
        font-weight: 600;
        width: 100%;
        border-radius: 3px;
    }
    .offers__policy{
        text-align: center;
    }
    .offers a{
        font-size: 10px;
        text-decoration: none;
        color: #ffffff;
    }
    .sitemap{
        display: none;
    }
    .footer__address p {
        padding: 0 55px;
        font-size: 11px;
    }
}